<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AzureService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AzureService.Properties.Settings>
            <setting name="Key" serializeAs="String">
                <value>jz9KANIuYSlJsVb2Q+44bLnP4oeULl5D/brVb6Xbgf6YmbT9egEIZzmnqy0IYmsR3sp7MUIsnAFhIO/P4MsAvQ==</value>
            </setting>
            <setting name="Uri" serializeAs="String">
                <value>https://ussouthcentral.services.azureml.net/workspaces/d17f979b70964d47bd15bfbae94c5a66/services/b0b8aaaa51ef4078988538a8a0effe23/execute?api-version=2.0&amp;details=true&amp;format=swagger</value>
            </setting>
        </AzureService.Properties.Settings>
    </userSettings>
</configuration>